@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';
@import 'fonts/font_fontawesome';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
  &.modaled {
    overflow: hidden;
  }
  &.tax-categories {
    .calendar-block .calendar-navi .navi-back {
      background-image: url(../img/ico-white-calendar-left.png);
    }
    .calendar-block .calendar-navi .navi-next {
      background-image: url(../img/ico-white-calendar-right.png);
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
input {
  border: 1px solid #dedede;
}
.btn {
  font-weight: normal;

  padding: 7px 20px;

  text-align: center;

  color: #fff;
  &.btn-green {
    background-color: $green;
    &:hover {
      background-color: $green-dark;
    }
  }
  &.btn-transprent {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    &:hover {
      border-color: $green-dark;
      background-color: $green;
    }
  }
  &:hover {
    text-decoration: none;
    &.btn-green {
      background-color: $green-dark;
    }
  }
  &.btn-cat-more {
    display: block;

    width: 170px;
    height: 30px;
    margin: 0 auto;

    color: #000;
    outline: none;
    background-color: #dedede;
    &:hover {
      background-color: darken(#dedede, 15%);
    }
    &.btn-disabled {
      width: 210px;

      color: #dedede;
      border-color: #dedede;
      background-color: #fff;
    }
  }
}
header {
  height: 100px;

  background-image: url(../img/header-small-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .container-logo {
    padding-top: 15px;

    color: #000;
    a {
      color: #000;
      &:hover {
        text-decoration: none;

        color: #000;
      }
    }
    .logo-title {
      font-family: $second-font-family;
      font-size: 36px;
      font-weight: 300;

      text-align: center;
      span {
        font-size: 18px;
        font-weight: normal;

        display: block;
      }
    }
  }
  .container-contacts {
    padding-top: 20px;

    text-align: right;
    .phone {
      font-size: 16px;

      display: block;

      margin-bottom: 10px;

      text-decoration: none;

      color: #000;
      &:hover {
        color: $green;
      }
    }
  }
  .container-headnav {
    margin-top: 20px;
    .headnav {
      position: relative;

      display: block;

      width: 100%;
      padding-top: 30px;
      li {
        display: inline-block;

        width: 20%;

        text-align: center;
        a {
          color: #fff;
          &:hover {
            text-decoration: none;

            color: $green;
          }
        }
      }
    }
  }
  &.header-home {
    height: 646px;

    background-image: url(../img/header-bg.jpg);
    background-position: center;
    .container-logo {
      padding-top: 35px;

      color: #fff;
      a {
        color: #fff;
        &:hover {
          text-decoration: none;

          color: #fff;
        }
      }
    }
    .container-contacts {
      padding-top: 40px;
      .phone {
        margin-bottom: 20px;

        color: #fff;
      }
    }
    .container-title {
      padding-top: 33px;
    }
  }
  .container-title {
    padding-top: 40px;

    text-align: center;
    .header-title {
      font-size: 72px;
      font-weight: bold;

      margin-bottom: 5px;

      color: #fff;
    }
    .header-subtitle {
      font-size: 36px;
      font-weight: bold;

      margin-bottom: 50px;

      color: #fff;
    }
    .btn-titleorder {
      margin-bottom: 64px;
    }
  }
  .header-choose {
    height: 217px;
    padding-top: 15px;
    padding-bottom: 15px;

    color: #fff;
    background-color: rgba(0,0,0,.5);
    a {
      color: #fff;
    }
  }
  .header-choose-type {
    .headline {
      font-size: 18px;
      font-weight: 600;

      margin-bottom: 34px;
    }
    ul {
      @extend .clearfix;
      li {
        float: left;

        width: 50%;
        margin: 0 0 18px;
        a {
          text-decoration: underline;
        }
        &:hover {
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  .header-choose-foregin {
    padding-top: 60px;
    .btn-foregin {
      line-height: 1.7;

      width: 190px;
      margin: 0 auto;

      white-space: normal;
    }
  }
}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}
.container-mailsubscribe {
  height: 130px;
  padding-top: 25px;

  background-image: url(../img/container-mailsubscribe-bg.jpg);
  h6 {
    font-size: 24px;
    font-weight: 600;

    margin-bottom: 20px;

    color: #000;
  }
  form {
    @extend .clearfix;
  }
  input {
    display: inline-block;
    float: left;

    width: 270px;
    height: 34px;
    margin: 0 30px 0 0;
    padding: 5px 10px;
  }
  .btn {
    float: left;

    height: 34px;
  }
}

section {
  padding: 0 0 $footer;
}
.cat-title {
  font-size: 30px;
  font-weight: bold;

  width: 100%;
  margin-bottom: 50px;

  color: #000;
  a {
    text-decoration: none;

    color: #000;
  }
}
article {
  @extend .clearfix;
  &.article-post {
    padding-top: 35px;
    padding-bottom: 35px;
    p {
      font-size: 16px;
      line-height: 1.2;

      margin: 0 0 20px;
    }
  }
  &.article-single {
    padding-top: 20px;
  }
  .page-title {
    font-size: 30px;
    font-weight: bold;

    width: 100%;
    margin-bottom: 50px;

    color: #000;
    a {
      text-decoration: none;

      color: #000;
    }
  }
  .contact-form {
    .contact-phones,
    .contact-mails {
      display: block;
      float: left;

      width: 50%;
      li {
        font-weight: $f-sbold;

        position: relative;

        display: block;

        padding: 12px 0 12px 60px;
        a {
          color: #000;
        }
        &:before {
          font-size: 20px;
          line-height: 2;

          position: absolute;
          top: 0;
          left: 0;

          display: none;

          width: 40px;
          height: 40px;

          text-align: center;

          color: #fff;
          border-radius: 50%;
          background-color: $green;

          @extend .fa;
        }
        &:first-child {
          &:before {
            display: block;
          }
        }
      }
    }
    .contact-phones {
      li {
        &:before {
          content: '\f095';
        }
      }
    }
    .contact-mails {
      li {
        &:before {
          content: '\f003';
        }
      }
    }
    form {
      display: block;
      float: left;

      width: 100%;
      padding-top: 35px;

      @extend .clearfix;
      h6 {
        font-weight: 600;

        float: left;

        width: 100%;
        margin-bottom: 16px;
      }
      input,
      label {
        font-weight: normal;

        float: left;

        width: 100%;
        height: 30px;
        margin-bottom: 15px;
        &.form-half {
          width: 49%;
        }
        &.form-half-first {
          margin-right: 2%;
        }
        &[type='submit'] {
          height: auto;
        }
      }
      textarea {
        height: 150px;
        margin-bottom: 30px;
      }
    }
  }
  .payment-descr {
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 50px;
  }
  .payment-steps {
    margin-bottom: 30px;
    .payment-steps-number {
      font-weight: 600;
      line-height: 2.5;

      left: 2px;

      display: block;

      width: 40px;
      height: 40px;
      margin-bottom: 15px;

      text-align: center;

      color: #fff;
      border-radius: 50%;
      background-color: $green;
    }
  }
  .payment-content {
    padding-top: 20px;
  }
  .container-partners {
    .partners-logo {
      position: relative;

      display: block;

      height: 130px;
      margin-bottom: 15px;

      border: 1px solid $gray;
      img {
        @extend .align-center;
      }
    }
  }
}
.container-partners-home {
  span {
    position: relative;

    display: block;

    width: 100%;
    height: 80px;
    img {
      @extend .align-center;
    }
  }
}
.breadcrumbs {
  font-size: 12px;
  font-weight: normal;

  margin-bottom: 25px;
  a {
    text-decoration: none;

    color: #000;
  }
  .current {
    color: $gold;
  }
}
.looper {
  min-height: 560px;

  @extend .clearfix;
  .feature-img {
    display: block;
    overflow: hidden;

    height: 200px;
    margin-bottom: 16px;
    &:hover {
      opacity: .8;
    }
    img {
      width: 100%;
      min-height: 100%;
    }
  }
  .looper-title {
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 18px;

    color: #000;
    a {
      color: #000;
      &:hover {
        text-decoration: underline;

        color: #000;
      }
    }
  }
  .date {
    font-size: 14px;
    font-style: italic;

    display: block;

    margin-bottom: 10px;
  }
}
.pagination {
  font-weight: bold;

  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;

  @extend .clearfix;
  .next {
    float: right;
  }
  .prev {
    float: left;
  }
}
.article-excursion {
  .sinle-exc-title {
    img {
      height: 35px;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  .excursion-time,
  .excursion-guide {
    font-size: 14px;

    position: relative;

    margin-bottom: 45px;
    padding-left: 40px;
    &:before {
      font-size: 30px;

      position: absolute;
      top: 50%;
      left: 0;

      width: 26px;
      height: 26px;
      margin-top: -13px;

      text-align: center;

      color: $gold;

      @extend .dblock;
      @extend .fa;
    }
    span {
      display: block;

      padding-top: 5px;
    }
  }
  .excursion-time {
    &:before {
      content: '\f017';
    }
  }
  .excursion-guide {
    &:before {
      content: '\f183';
    }
  }
  .excursion-gallery {
    .gallery-main {
      display: block;
      overflow: hidden;

      height: 300px;
      margin-bottom: 15px;
      img {
        width: 100%;
        min-height: 100%;
      }
    }
  }
  .gallery-choose {
    display: block;

    margin-bottom: 45px;
    padding: 0;

    @extend .justify-child;
    li {
      display: inline-block;
      overflow: hidden;

      width: 70px;
      height: 70px;
      margin: 0;

      cursor: pointer;

      border: 1px solid transparent;
      img {
        width: 100%;
        min-height: 100%;
      }
      &:hover {
        border-color: $gold;
      }
    }
  }
  .excursion-content {
    padding-top: 40px;
    h4 {
      font-size: 18px;
      font-weight: bold;

      margin-bottom: 25px;
    }
    ul {
      margin: 0 0 20px;
      padding: 0 0 0 5px;

      list-style-position: inside;
      list-style-type: disc;
      li {
        line-height: 1.4;

        margin-bottom: 5px;
        &:before {
          display: none;
        }
      }
    }
  }
  .subtitle {
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 10px;
  }
  .excursion-price {
    .price-title {
      font-size: 18px;
      font-weight: bold;

      margin-bottom: 20px;
    }
    .price-list {
      display: block;

      margin-bottom: 20px;
      padding: 10px 100px;

      background-color: #f7f7f3;
      li {
        padding: 15px 3px;

        color: #000;
        border-bottom: 1px solid #cdcdcd;

        @extend .clearfix;
        &:hover {
          background-color: lighten(#f7f7f3, 5%);
        }
        &:before {
          display: none;

          text-align: left;
        }
        &:last-child {
          border: 0;
        }
        span {
          font-weight: 600;

          float: right;

          color: #000;
        }
      }
    }
    table {
      th,
      td {
        padding-left: 5px;

        border: 0;
        &:nth-child(1),
        &:nth-child(2) {
          width: 27%;
        }
        &:nth-child(3) {
          width: 46%;
        }
      }
      th {
        font-size: 14px;
        font-weight: 600;

        text-align: left;
        span {
          padding-left: 10px;

          border-left: 1px solid $gold;
        }
      }
      td {
        padding-top: 15px;
        padding-bottom: 15px;
        button {
          font-weight: 600;

          width: 100%;

          color: #000;
          border: 1px solid $green;
          background-color: transparent;
          &:hover {
            color: #fff;
            background-color: $green-dark;
          }
        }
      }
    }
  }
  .excursion-level-one {
    margin-bottom: 30px;
  }
  .excursion-map,
  .excursion-video {
    height: 350px;
    padding-right: 15px;
    padding-left: 15px;
    iframe {
      display: block;
      overflow: hidden;

      width: 100%;
      height: 100%;

      background-color: #f6f6f6;
    }
  }
  .excursion-map {
    .acf-map {
      width: 100%;
      height: 350px;
    }
    /* fixes potential theme css conflict */
    .acf-map img {
      max-width: inherit !important;
    }
  }
}
.cat-exc-choos {
  h4 {
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 20px;
  }
  ul {
    display: block;

    @extend .clearfix;
    li {
      position: relative;

      display: inline-block;
      float: left;

      width: 74px;
      height: 74px;
      margin: 0 20px 0 0;
      &:nth-child(7) {
        display: none;
      }
      &:nth-child(5) {
        span {
          bottom: -40px;

          width: 180px;
          margin-left: -90px;
        }
      }
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(6) {
        span {
          bottom: -40px;

          width: 150px;
          margin-left: -75px;
        }
      }
      a {
        display: block;
        overflow: hidden;

        width: 100%;
        height: 100%;

        border: 1px solid #dedede;
        border-radius: 8px;
        img {
          width: 76px;
          height: 76px;
        }
      }
      &:before {
        position: absolute;
        bottom: -5px;
        left: 50%;

        display: none;

        margin-left: -5px;

        @extend .dblock;
        @include triangle(10px, $green, down);
      }
      span {
        position: absolute;
        z-index: 2;
        bottom: -25px;
        left: 50%;

        display: none;

        width: 300px;
        margin-left: -150px;

        text-align: center;

        color: #000;
      }
      &:last-child {
        width: auto;
        margin-right: 0;
        padding-top: 16px;
        padding-bottom: 16px;

        text-align: center;
        a {
          height: auto;
          padding: 10px;

          color: #000;
          border-radius: 8px;
        }
        &:before {
          display: none !important;
        }
      }
      &:hover {
        span {
          display: block;
        }
        &:before {
          display: block;
        }
        a {
          text-decoration: none;

          border-color: $green;
        }
      }
      &:first-child {
        span {
          bottom: -40px;

          width: 150px;
          margin-left: -75px;
        }
      }
    }
  }
}
.excursion-cat-zero {
  margin-bottom: 40px;
}
.exces-dates {
  display: block;

  margin: 0 0 18px;
  padding: 10px 25px 0;

  background-color: #f7f7f3;

  @extend .clearfix;
  li {
    float: left;

    width: 25%;
    margin-bottom: 10px;

    text-align: center;

    color: #000;
    border-right: 1px solid $gold;
    &:last-child {
      border-right: 0;
    }
  }
}
.excurse-about {
  display: block;

  margin: 0 0 20px;
  padding: 0;

  @extend .clearfix;
  li {
    line-height: 1.6;

    display: inline-block;
    float: left;

    width: 50%;
    height: 50px;
    margin: 0 0 15px;
    &.exc-time,
    &.exc-guide {
      font-size: 14px;

      position: relative;

      padding: 0 0 0 40px;

      color: #000;
      span {
        display: block;
      }
      &:before {
        font-size: 25px;
        line-height: 1;

        position: absolute;
        top: 10px;
        left: 5px;

        width: 25px;
        height: 25px;

        color: $gold;

        @extend .dblock;
        @extend .fa;
      }
      &.exc-time {
        &:before {
          content: '\f017';
        }
      }
      &.exc-guide {
        &:before {
          content: '\f183';
        }
      }
    }
    &.exc-type {
      font-weight: 600;
    }
  }
}
.poppost-title {
  font-size: 30px;
  font-weight: bold;

  margin-bottom: 45px;
  padding-top: 80px;
}
.popular-posts {
  .feature-img {
    display: block;
    overflow: hidden;

    height: 180px;
    margin-bottom: 15px;
    img {
      width: 100%;
      min-height: 100%;
    }
  }
  h3 {
    font-weight: bold;

    margin-bottom: 20px;
    a {
      color: #000;
    }
  }
  p {
    margin-bottom: 20px;
  }
  .goto {
    font-weight: 600;

    display: block;

    text-align: right;

    color: #000;
  }
}
.frontpage-small {
  margin-bottom: 25px;
  padding-top: 50px;
  h4 {
    font-size: 30px;
    font-weight: bold;

    margin-bottom: 25px;
    padding-bottom: 5px;

    border-bottom: 1px solid $gray;
  }
}
.oure-blog-title {
  font-size: 30px;
  font-weight: bold;

  margin-bottom: 25px;
  padding-top: 30px;
  span {
    display: block;

    width: 300px;
    padding-bottom: 5px;

    border-bottom: 1px solid $gray;

    @extend .clearfix;
    a {
      font-size: 14px;
      font-weight: normal;
      line-height: 2.5;

      float: right;

      text-decoration: none;

      color: #838383;
    }
  }
}
.ourblogitem {
  height: 310px;
  .feature-img {
    display: block;
    overflow: hidden;

    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    img {
      width: 100%;
      min-height: 100%;
    }
  }
  .looper-title {
    font-size: 14px;
    font-weight: 600;

    margin-bottom: 10px;
    a {
      text-decoration: none;

      color: #000;
    }
  }
  .date {
    font-size: 14px;
    font-style: italic;

    display: block;

    color: #838383;
  }
  .read-full {
    font-size: 14px;
    font-weight: 600;

    display: block;

    text-align: right;

    color: #000;
  }
}
.our-exc-titles {
  font-size: 30px;
  font-weight: bold;

  margin-bottom: 30px;
  padding-top: 45px;
  padding-right: 0;
  padding-left: 0;
}
.calendar-block {
  position: relative;
  .calendar-container {
    display: none;
    .moth-title {
      font-size: 14px;

      margin-bottom: 10px;
      padding-left: 10px;
      span {
        margin-left: 5px;
      }
    }
    .booking-calendar {
      display: block;

      @extend .clearfix;
      li {
        font-size: 14px;

        display: inline-block;
        float: left;

        width: 13.28%;
        margin: 0 .1% 4px;
        padding: 4px;

        text-align: center;
        a {
          cursor: pointer;

          color: $green;
        }
      }
    }
    .active-day {
      color: #fff;
      border-radius: 8px;
      background-color: $green;
    }
    .current-day {
      color: $green;
      border-radius: 8px;
      background-color: #fff;
    }
    &.active-month {
      display: block;
    }
  }
  .calendar-navi {
    position: absolute;
    top: 0;
    right: 10px;
    .navi-back,
    .navi-next {
      position: absolute;

      display: block;

      width: 15px;
      height: 5px;
      padding: 10px 0;

      cursor: pointer;

      background-repeat: no-repeat;
      background-position: center;
    }
    .navi-back {
      right: 30px;

      background-image: url(../img/ico-calendar-left.png);
    }
    .navi-next {
      right: 0;

      background-image: url(../img/ico-calendar-right.png);
    }
  }
}
.query-calendar {
  display: none;
}
#link-excurs {
  width: 230px;

  text-align: center;
}

.modal-bg {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, .3);
  .modal-body {
    position: relative;

    padding: 20px 70px;

    background-color: #fff;
    .modal-close {
      font-size: 20px;

      position: absolute;
      top: 10px;
      right: 10px;

      display: block;

      width: 15px;
      height: 15px;

      cursor: pointer;
      text-align: center;
    }
    h6 {
      font-size: 18px;
      font-weight: bold;

      margin-bottom: 25px;

      color: #000;
    }
    label {
      font-size: 16px;

      margin-bottom: 10px;
    }
    input {
      margin-bottom: 20px;
      &[type='submit'] {
        display: block;

        width: 170px;
        margin: 0 auto;
      }
    }
  }
  &.modal-recall {
    display: none;

    padding-top: 150px;
  }
  &.modal-titleorder,
  &.modal-ourexccontainer {
    display: none;

    padding-top: 150px;
    h6 {
      font-size: 18px;
      font-weight: bold;

      margin-bottom: 20px;

      text-align: center;
    }
    form {
      display: block;

      width: 100%;

      @extend .clearfix;
      input,
      label,
      textarea,
      select {
        float: left;

        width: 100%;
        height: 30px;
        margin: 0 0 10px;
        &.form-half {
          width: 49%;
          margin-left: 1%;
        }
        &.form-half-first {
          margin-right: 1%;
          margin-left: 0;
        }
        &[type='submit'] {
          line-height: 1.2;

          width: 60%;
          margin-left: 20%;
          padding-top: 5px;
        }
      }
      label {
        line-height: 2;
      }
      textarea {
        height: 120px;
      }
    }
  }
}
.main-content {
  line-height: 1.4;
  p {
    margin-bottom: 18px;
  }
}
.container-reviews {
  h6 {
    font-size: 16px;
    font-weight: normal;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;

    background-image: url(../img/ico-reviews.png);
    background-repeat: no-repeat;
    background-position: left center;

    @extend .clearfix;
    span {
      font-size: 14px;
      font-style: italic;
      line-height: 1.5;

      float: right;

      color: #838383;
    }
  }
}
footer {
  height: $footer;
  margin: $footer_margin auto 0;

  color: #000;
  border-top: 3px solid $gray;
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  a {
    text-decoration: none;

    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }
  .footer-title {
    padding-top: 100px;

    text-align: center;
    h6 {
      font-size: 36px;
      font-weight: 300;
      span {
        font-size: 18px;
        font-weight: normal;

        display: block;
      }
    }
  }
  .footer-middle {
    padding-top: 80px;
    .footer-nav,
    .footer-social {
      li {
        display: inline-block;
      }
    }
    .footer-nav {
      margin-bottom: 50px;
      li {
        margin: 0 25px 0 0;
      }
    }
    .footer-social {
      li {
        margin: 0 20px 0 0;
        i {
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
  }
  .footer-contact {
    padding-top: 80px;
    h6 {
      font-weight: bold;
    }
    a {
      display: block;
      &.footer-phone {
        margin-bottom: 10px;
      }
      &.footer-mail {
        margin-bottom: 30px;
      }
    }
  }
}

@import 'fonts/font_opensans';
@import 'fonts/font_avenirnextw1g';
@import 'base64';
@import 'import/print';

@media (max-width: 1200px) {
  .article-excursion .excursion-price table td button {
    font-size: 80%;
  }
}
@media (max-height: 750px) {
  .modal-bg.modal-titleorder,
  .modal-bg.modal-ourexccontainer {
    padding-top: 10px;
  }
}
@media (max-height: 650px) {
  .modal-bg .modal-body {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .modal-bg.modal-titleorder h6,
  .modal-bg.modal-ourexccontainer h6 {
    margin-bottom: 10px;
  }
  .modal-bg.modal-titleorder form input,
  .modal-bg.modal-titleorder form label,
  .modal-bg.modal-titleorder form textarea,
  .modal-bg.modal-titleorder form select,
  .modal-bg.modal-ourexccontainer form input,
  .modal-bg.modal-ourexccontainer form label,
  .modal-bg.modal-ourexccontainer form textarea,
  .modal-bg.modal-ourexccontainer form select {
    margin-bottom: 2px;
  }
  .modal-bg.modal-titleorder form textarea,
  .modal-bg.modal-ourexccontainer form textarea {
    height: 60px;
    margin-bottom: 15px;
  }
}
