@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';
@import 'fonts/font_fontawesome';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
input {
  border: 1px solid #dedede;
}
.btn {
  font-weight: normal;

  padding: 7px 20px;

  text-align: center;

  color: #fff;
  &.btn-green {
    background-color: $green;
    &:hover {
      background-color: $green-dark;
    }
  }
  &.btn-transprent {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    &:hover {
      border-color: $green-dark;
      background-color: $green;
    }
  }
  &:hover {
    text-decoration: none;
    &.btn-green {
      background-color: $green-dark;
    }
  }
}
header {
  height: 100px;

  background-image: url(../img/header-small-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .container-logo {
    padding-top: 15px;

    color: #000;
    a {
      color: #000;
      &:hover {
        text-decoration: none;

        color: #000;
      }
    }
    .logo-title {
      font-family: $second-font-family;
      font-size: 36px;
      font-weight: 300;

      text-align: center;
      span {
        font-size: 18px;
        font-weight: normal;

        display: block;
      }
    }
  }
  .container-contacts {
    padding-top: 20px;

    text-align: right;
    .phone {
      font-size: 16px;

      display: block;

      margin-bottom: 10px;

      text-decoration: none;

      color: #000;
      &:hover {
        color: $green;
      }
    }
  }
  .container-headnav {
    .headnav {
      position: relative;

      display: block;

      width: 100%;
      padding-top: 30px;
      li {
        display: inline-block;

        width: 20%;

        text-align: center;
        a {
          color: #000;
          &:hover {
            text-decoration: none;

            color: $green;
          }
        }
      }
    }
  }
  &.header-home {
    height: 646px;

    background-image: url(../img/header-bg.jpg);
    background-position: center;
    .container-logo {
      color: #fff;
      a {
        color: #fff;
        &:hover {
          text-decoration: none;

          color: #fff;
        }
      }
    }
    .container-contacts {
      padding-top: 40px;
      .phone {
        margin-bottom: 20px;
      }
    }
  }
  .container-title {
    padding-top: 40px;

    text-align: center;
    .header-title {
      font-size: 72px;
      font-weight: bold;

      margin-bottom: 5px;

      color: #fff;
    }
    .header-subtitle {
      font-size: 36px;
      font-weight: bold;

      margin-bottom: 50px;

      color: #fff;
    }
    .btn-titleorder {
      margin-bottom: 82px;
    }
  }
  .header-choose {
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;

    color: #fff;
    background-color: rgba(0,0,0,.5);
    a {
      color: #fff;
    }
  }
  .header-choose-type {
    .headline {
      font-size: 18px;
      font-weight: 600;

      margin-bottom: 34px;
    }
    ul {
      @extend .clearfix;
      li {
        float: left;

        width: 50%;
        margin: 0 0 18px;
        a {
          text-decoration: underline;
        }
        &:hover {
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  .header-choose-foregin {
    padding-top: 60px;
    .btn-foregin {
      line-height: 1.7;

      width: 190px;
      margin: 0 auto;

      white-space: normal;
    }
  }
}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}
.container-mailsubscribe {
  height: 130px;
  padding-top: 25px;

  background-image: url(../img/container-mailsubscribe-bg.jpg);
  h6 {
    font-size: 24px;
    font-weight: 600;

    margin-bottom: 20px;

    color: #000;
  }
  form {
    @extend .clearfix;
  }
  input {
    display: inline-block;
    float: left;

    width: 270px;
    height: 34px;
    margin: 0 30px 0 0;
    padding: 5px 10px;
  }
  .btn {
    float: left;

    height: 34px;
  }
}

section {
  padding: 0 0 $footer;
}
.cat-title {
  font-size: 30px;
  font-weight: bold;

  width: 100%;
  margin-bottom: 50px;

  color: #000;
  a {
    text-decoration: none;

    color: #000;
  }
}
article {
  @extend .clearfix;
  &.article-post {
    padding-top: 35px;
    padding-bottom: 35px;
    p {
      font-size: 16px;
      line-height: 1.2;

      margin: 0 0 20px;
    }
  }
  &.article-single {
    padding-top: 20px;
  }
  .page-title {
    font-size: 30px;
    font-weight: bold;

    width: 100%;
    margin-bottom: 50px;

    color: #000;
    a {
      text-decoration: none;

      color: #000;
    }
  }
  .contact-form {
    .contact-phones,
    .contact-mails {
      display: block;
      float: left;

      width: 50%;
      li {
        font-weight: $f-sbold;

        position: relative;

        display: block;

        padding: 12px 0 12px 60px;
        a {
          color: #000;
        }
        &:before {
          font-size: 20px;
          line-height: 2;

          position: absolute;
          top: 0;
          left: 0;

          display: none;

          width: 40px;
          height: 40px;

          text-align: center;

          color: #fff;
          border-radius: 50%;
          background-color: $green;

          @extend .fa;
        }
        &:first-child {
          &:before {
            display: block;
          }
        }
      }
    }
    .contact-phones {
      li {
        &:before {
          content: '\f095';
        }
      }
    }
    .contact-mails {
      li {
        &:before {
          content: '\f003';
        }
      }
    }
    form {
      display: block;
      float: left;

      width: 100%;
      padding-top: 35px;

      @extend .clearfix;
      h6 {
        font-weight: 600;

        float: left;

        width: 100%;
        margin-bottom: 16px;
      }
      input,
      label {
        font-weight: normal;

        float: left;

        width: 100%;
        height: 30px;
        margin-bottom: 15px;
        &.form-half {
          width: 49%;
        }
        &.form-half-first {
          margin-right: 2%;
        }
        &[type='submit'] {
          height: auto;
        }
      }
      textarea {
        height: 150px;
        margin-bottom: 30px;
      }
    }
  }
  .payment-descr {
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 50px;
  }
  .payment-steps {
    margin-bottom: 30px;
    .payment-steps-number {
      font-weight: 600;
      line-height: 2.5;

      left: 2px;

      display: block;

      width: 40px;
      height: 40px;
      margin-bottom: 15px;

      text-align: center;

      color: #fff;
      border-radius: 50%;
      background-color: $green;
    }
  }
  .payment-content {
    padding-top: 20px;
  }
  .container-partners {
    .partners-logo {
      position: relative;

      display: block;

      height: 130px;
      margin-bottom: 15px;

      border: 1px solid $gray;
      img {
        @extend .align-center;
      }
    }
  }
}

.breadcrumbs {
  font-size: 12px;
  font-weight: normal;

  margin-bottom: 25px;
  a {
    text-decoration: none;

    color: #000;
  }
  .current {
    color: $gold;
  }
}
.looper {
  @extend .clearfix;
  .feature-img {
    display: block;
    overflow: hidden;

    height: 200px;
    margin-bottom: 16px;
    &:hover {
      opacity: .8;
    }
    img {
      width: 100%;
      min-height: 100%;
    }
  }
  .looper-title {
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 18px;

    color: #000;
    a {
      color: #000;
      &:hover {
        text-decoration: underline;

        color: #000;
      }
    }
  }
  .date {
    font-size: 14px;
    font-style: italic;

    display: block;

    margin-bottom: 10px;
  }
}
.pagination {
  font-weight: bold;

  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;

  @extend .clearfix;
  .next {
    float: right;
  }
  .prev {
    float: left;
  }
}
.article-excursion {
  .excursion-time,
  .excursion-guide {
    font-size: 14px;

    position: relative;

    margin-bottom: 45px;
    padding-left: 40px;
    &:before {
      font-size: 30px;

      position: absolute;
      top: 50%;
      left: 0;

      width: 26px;
      height: 26px;
      margin-top: -13px;

      text-align: center;

      color: $gold;

      @extend .dblock;
      @extend .fa;
    }
    span {
      display: block;

      padding-top: 5px;
    }
  }
  .excursion-time {
    &:before {
      content: '\f017';
    }
  }
  .excursion-guide {
    &:before {
      content: '\f183';
    }
  }
  .excursion-gallery {
    .gallery-main {
      display: block;
      overflow: hidden;

      height: 300px;
      margin-bottom: 15px;
      img {
        width: 100%;
        min-height: 100%;
      }
    }
  }
  .gallery-choose {
    display: block;

    margin-bottom: 45px;
    padding: 0;

    @extend .justify-child;
    li {
      display: inline-block;
      overflow: hidden;

      width: 70px;
      height: 70px;
      margin: 0;

      cursor: pointer;

      border: 1px solid transparent;
      img {
        width: 100%;
        min-height: 100%;
      }
      &:hover {
        border-color: $gold;
      }
    }
  }
  .excursion-content {
    padding-top: 40px;
    h4 {
      font-size: 18px;
      font-weight: bold;

      margin-bottom: 25px;
    }
    ul {
      margin: 0 0 20px;
      padding: 0 0 0 5px;

      list-style-position: inside;
      list-style-type: disc;
      li {
        line-height: 1.4;

        margin-bottom: 5px;
        &:before {
          display: none;
        }
      }
    }
  }
  .subtitle {
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 10px;
  }
  .excursion-price {
    .price-title {
      font-size: 18px;
      font-weight: bold;

      margin-bottom: 20px;
    }
    .price-list {
      display: block;

      margin-bottom: 20px;
      padding: 10px 100px;

      background-color: #f7f7f3;
      li {
        padding: 15px 3px;

        color: #000;
        border-bottom: 1px solid #cdcdcd;

        @extend .clearfix;
        &:hover {
          background-color: lighten(#f7f7f3, 5%);
        }
        &:before {
          display: none;

          text-align: left;
        }
        &:last-child {
          border: 0;
        }
        span {
          font-weight: 600;

          float: right;

          color: #000;
        }
      }
    }
    table {
      th,
      td {
        border: 0;
        &:nth-child(1),
        &:nth-child(2) {
          width: 27%;
        }
        &:nth-child(3) {
          width: 46%;
        }
      }
      th {
        font-size: 14px;
        font-weight: 600;

        padding-left: 15px;

        text-align: left;
      }
      td {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5px;
        button {
          font-weight: 600;

          width: 100%;

          color: #000;
          border: 1px solid $green;
          background-color: transparent;
          &:hover {
            color: #fff;
            background-color: $green-dark;
          }
        }
      }
      tr {
        &:hover {
          td {
            background-color: lighten($green, 40%);
          }
        }
      }
    }
  }
  .excursion-level-one {
    margin-bottom: 30px;
  }
  .excursion-map,
   .excursion-video {
    height: 350px;
    padding-left: 15px;
    padding-right: 15px;

    iframe {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
          background-color: #f6f6f6;
    }
  }
}
footer {
  height: $footer;
  margin: $footer_margin auto 0;

  color: #000;
  border-top: 3px solid $gray;
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  a {
    text-decoration: none;

    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }
  .footer-title {
    padding-top: 100px;

    text-align: center;
    h6 {
      font-size: 36px;
      font-weight: 300;
      span {
        font-size: 18px;
        font-weight: normal;

        display: block;
      }
    }
  }
  .footer-middle {
    padding-top: 80px;
    .footer-nav,
    .footer-social {
      li {
        display: inline-block;
      }
    }
    .footer-nav {
      margin-bottom: 50px;
      li {
        margin: 0 25px 0 0;
      }
    }
    .footer-social {
      li {
        margin: 0 20px 0 0;
        i {
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
  }
  .footer-contact {
    padding-top: 80px;
    h6 {
      font-weight: bold;
    }
    a {
      display: block;
      &.footer-phone {
        margin-bottom: 10px;
      }
      &.footer-mail {
        margin-bottom: 30px;
      }
    }
  }
}



@import 'fonts/font_opensans';
@import 'fonts/font_avenirnextw1g';
@import 'base64';
@import 'import/print';
