$os-font-path: '../fonts' !default;

@font-face {
  font-family: 'Open Sans';
  font-weight: lighter;
  font-style: normal;

  src: url('#{$os-font-path}/opensans-light-webfont.eot');
  src: url('#{$os-font-path}/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$os-font-path}/opensans-light-webfont.woff') format('woff'),
  url('#{$os-font-path}/opensans-light-webfont.ttf') format('truetype'),
  url('#{$os-font-path}/opensans-light-webfont.svg#open_sanslight') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;

  src: url('#{$os-font-path}/opensans-regular-webfont.eot');
  src: url('#{$os-font-path}/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$os-font-path}/opensans-regular-webfont.woff') format('woff'),
  url('#{$os-font-path}/opensans-regular-webfont.ttf') format('truetype'),
  url('#{$os-font-path}/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;

  src: url('#{$os-font-path}/opensans-bold-webfont.eot');
  src: url('#{$os-font-path}/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$os-font-path}/opensans-bold-webfont.woff') format('woff'),
  url('#{$os-font-path}/opensans-bold-webfont.ttf') format('truetype'),
  url('#{$os-font-path}/opensans-bold-webfont.svg#open_sansbold') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;

  src: url('#{$os-font-path}/opensans-semibold-webfont.eot');
  src: url('#{$os-font-path}/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$os-font-path}/opensans-semibold-webfont.woff') format('woff'),
  url('#{$os-font-path}/opensans-semibold-webfont.ttf') format('truetype'),
  url('#{$os-font-path}/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
}
