
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=08d0a0c9231d4f214fad031cd2b41d61
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress